@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom basic reset or global styles if needed */
body {
    background-color: #f3f4f6;
    color: #1f2937;
    font-family: 'Inter', sans-serif;
}